<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2? display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado liebre</title>

    </head>

    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <div class="logo-lupa">
                    <img src="/images/logo-mercado-liebre.svg" class="logo">
                    <div class="barra-lupa">
                            <input type="texto" placeholder="Buscar productos, marcas" >
                            <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
                
                
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i> 
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            
            </div>
            

            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>

            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#"a>Ofertas</a></li>
                    <li><a href="#"a>Tiendas Oficiales</a></li>
                    <li><a href="#"a>Vender </a></li>
                    <li><a href="#"a>Ayuda </a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="/register"a>Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                    <li><a href="/login"a>Ingresá </a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#"a>Mis compras </a> <i class="fas fa-shopping-basket"></i></li>
                </ul>

            </nav>
            
        </header>

        <main> 
            <form action="" method="">
                <p> 
                    <input type="text"name ="name" id="Nombre y Apellido" placeholder="Nombre y Apellido" required>
                </p>
                <p> 
                    <input type="text"name ="name" id="Nombre de usuario" placeholder="Nombre de usuario" required>
                </p>
            
                <h2 class="titulos">Fecha de nacimiento</h2>
                <p> 
                    <input type="date"name ="name" class="date" required>
                </p>
            
                <p> 
                    <input type="text"name ="name" id="Domicilio" placeholder="Domicilio" required>
                </p>
            
                <h2 class="titulos">Perfil del Usuario</h2>
                <div>
                    <div class="lista" > 
                        <input type="radio" name="Perfil" value="Comprar">
                        <label for="medio">Comprador</label>
                        <input type="radio" name="Perfil" value="Vender" checked>
                        <label for="medio">Vendedor</label>
                    </div>
                </div>
            
                <h2 class="titulos">Intereses</h2>
                 <section class="checkbox">
                    <p>
                        <input type="checkbox" name="Intereses" value="Electro">
                        <label for="Intereses">Electro</label></p>
                    <p>
                        <input type="checkbox" name="Intereses" value="Moda">
                        <label for="Intereses">Moda</label>
                    </p>
                    <p><input type="checkbox" name="Intereses" value="Hogar">
                        <label for="Intereses">Hogar</label>
                    </p>
                           
                    <p>
                        <input type="checkbox" name="Intereses" value="Jueguetería">
                        <label for="Intereses">Jueguetería</label>
                    </p>
                    <p> 
                        <input type="checkbox" name="Intereses" value="Vida Sana">
                        <label for="Intereses">Vida Sana</label>
                    </p>
                        
                
                </section>
                <div class="foto">
                    <label >
                    <input class="selecArch" type="file" name="imagenPerfil" accept=".jpg, .png">
                </label>
                </div>
                <div class="botones">
                    <button type="reset" class="boton-borrar">
                        <a href="#">Borrar</a>
                    </button>
                    <button type="submit" class="boton-enviar">
                        <a href="./">Enviar</a>
                    </button>
                </div>
            </form>   
        </main>
    
        <footer>
            <section>
                <article>
                    <div class="credit-card">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!
                    </p>
                </article>
    
                <article>
                    <div class="gift">
                        <i class="fas fa-gift"></i>
                    </div>
    
                    <h3>Envío gratis desde $ 2.500</h3>
    
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.
                    </p>
                </article>
    
                <article>
                    <div class="user-shield">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    
                    <h3>Seguridad, de principio a fin</h3>
                    
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                    </p>
                </section>
    
                <article class="último-article">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </article>
            
            </section>
    
        </footer>
    
    </body>
 
</html>


    


    


















